{
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-var": [2],
    "no-use-before-define": [2, "nofunc"],
    "no-shadow": false
  }
}
