$toast-message-text-color: #ffffff;
$toast-message-link-hover-text-color: #cccccc;
$toast-close-button-focus-text-color: #000000;

$toast-container-hover-box-shadow-color: #000000;
$toast-container-moz-box-shadow-color: #999999;
$toast-progress-bg-color: #000000;

$toast-bg-color: #030303;
$toast-success-bg-color: #51a351;
$toast-error-bg-color: #bd362f;
$toast-info-bg-color: #2f96b4;
$toast-warning-bg-color: #f89406;